# Case Study 1

### IMPORT LIBRARIES

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### READ/LOAD THE FILE

In [3]:
df = pd.read_csv("customer_churn_data.csv")

In [4]:
df.head()

,year,customer_id,phone_no,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
0,2015,100198,409-8743,Female,36,62,no,no,148.35,12.2,16.81,82,1,4.0,1,0.0
1,2015,100643,340-5930,Female,39,149,no,no,294.45,7.7,33.37,87,3,3.0,2,0.0
2,2015,100756,372-3750,Female,65,126,no,no,87.30,11.9,9.89,91,1,4.0,5,1.0
3,2015,101595,331-4902,Female,24,131,no,yes,321.30,9.5,36.41,102,4,3.0,3,0.0
4,2015,101653,351-8398,Female,40,191,no,no,243.00,10.9,27.54,83,7,3.0,1,0.0

In [6]:
# View all columns
df.columns

Index(['year', 'customer_id', 'phone_no', 'gender', 'age',
       'no_of_days_subscribed', 'multi_screen', 'mail_subscribed',
       'weekly_mins_watched', 'minimum_daily_mins', 'maximum_daily_mins',
       'weekly_max_night_mins', 'videos_watched', 'maximum_days_inactive',
       'customer_support_calls', 'churn'],
      dtype='object')

In [7]:
# To check unique values of a column
df['churn']

0       0.0
1       0.0
2       1.0
3       0.0
4       0.0
       ...
1995    NaN
1996    0.0
1997    0.0
1998    0.0
1999    1.0
Name: churn, Length: 2000, dtype: float64

In [8]:
df['churn'].unique()

array([ 0.,  1., nan])

0 -> Active/Subscriber
1 -> Unsubscribed/left subscription/ cancel
nan -> missing value

In [9]:
# COUNT OF VALUES
df['churn'].value_counts()

churn
0.0    1703
1.0     262
Name: count, dtype: int64

In [10]:
df['churn'].value_counts(dropna=False)

churn
0.0    1703
1.0     262
NaN      35
Name: count, dtype: int64

In [11]:
# NORMALISATION
df['churn'].value_counts(dropna=False, normalize=True)

churn
0.0    0.8515
1.0    0.1310
NaN    0.0175
Name: proportion, dtype: float64

In [12]:
df['churn'].value_counts(dropna=False, normalize=True) * 100

churn
0.0    85.15
1.0    13.10
NaN     1.75
Name: proportion, dtype: float64

### Information about data

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    2000 non-null   int64
 1   customer_id             2000 non-null   int64
 2   phone_no                2000 non-null   object
 3   gender                  1976 non-null   object
 4   age                     2000 non-null   int64
 5   no_of_days_subscribed   2000 non-null   int64
 6   multi_screen            2000 non-null   object
 7   mail_subscribed         2000 non-null   object
 8   weekly_mins_watched     2000 non-null   float64
 9   minimum_daily_mins      2000 non-null   float64
 10  maximum_daily_mins      2000 non-null   float64
 11  weekly_max_night_mins   2000 non-null   int64
 12  videos_watched          2000 non-null   int64
 13  maximum_days_inactive   1972 non-null   float64
 14  customer_support_calls  2000 non-null   int64
 15  churn                   1965 non-null   float64
dtypes: float64(5), int64(7), object(4)
memory usage: 250.1+ KB

### Missing value analysis

In [16]:
df.isnull().sum()

year                       0
customer_id                0
phone_no                   0
gender                    24
age                        0
no_of_days_subscribed      0
multi_screen               0
mail_subscribed            0
weekly_mins_watched        0
minimum_daily_mins         0
maximum_daily_mins         0
weekly_max_night_mins      0
videos_watched             0
maximum_days_inactive     28
customer_support_calls     0
churn                     35
dtype: int64

There are 3 columns for which data is missing
- gender
- maximum_days_inactive
- churn

### DESCRIBE

In [18]:
df.describe()

,year,customer_id,age,no_of_days_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
count,2000.0,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,1972.000000,2000.000000,1965.000000
mean,2015.0,554887.157500,38.69050,99.750000,270.178425,10.198700,30.620780,100.415500,4.482500,3.250507,1.547000,0.133333
std,0.0,261033.690318,10.20641,39.755386,80.551627,2.785519,9.129165,19.529454,2.487728,0.809084,1.315164,0.340021
min,2015.0,100198.000000,18.00000,1.000000,0.000000,0.000000,0.000000,42.000000,0.000000,0.000000,0.000000,0.000000
25%,2015.0,328634.750000,32.00000,73.000000,218.212500,8.400000,24.735000,87.000000,3.000000,3.000000,1.000000,0.000000
50%,2015.0,567957.500000,37.00000,99.000000,269.925000,10.200000,30.590000,101.000000,4.000000,3.000000,1.000000,0.000000
75%,2015.0,773280.250000,44.00000,127.000000,324.675000,12.000000,36.797500,114.000000,6.000000,4.000000,2.000000,0.000000
max,2015.0,999961.000000,82.00000,243.000000,526.200000,20.000000,59.640000,175.000000,19.000000,6.000000,9.000000,1.000000

- All the values in year column are 2015
- If all the rows have the same value for column, standard deviation and variance is 0
- We can delete the column as there will no impact on the analysis

In [19]:
df.drop(['year'], axis=1, inplace=True)

In [20]:
df.head()

,customer_id,phone_no,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
0,100198,409-8743,Female,36,62,no,no,148.35,12.2,16.81,82,1,4.0,1,0.0
1,100643,340-5930,Female,39,149,no,no,294.45,7.7,33.37,87,3,3.0,2,0.0
2,100756,372-3750,Female,65,126,no,no,87.30,11.9,9.89,91,1,4.0,5,1.0
3,101595,331-4902,Female,24,131,no,yes,321.30,9.5,36.41,102,4,3.0,3,0.0
4,101653,351-8398,Female,40,191,no,no,243.00,10.9,27.54,83,7,3.0,1,0.0

Since the churn column is categorical, let's change the values
0.0 => Subscribed
1.0 => Unsubscriber

In [29]:
df['churn'].map({0.0: 'Subscriber', 1.0: 'Unsubscribed'})

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
1995    NaN
1996    NaN
1997    NaN
1998    NaN
1999    NaN
Name: churn, Length: 2000, dtype: object

In [23]:
df['churn'] = df['churn'].map({0.0: 'Subscriber', 1.0: 'Unsubscribed'})

In [30]:
df.head()

,customer_id,phone_no,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
0,100198,409-8743,Female,36,62,no,no,148.35,12.2,16.81,82,1,4.0,1,Subscriber
1,100643,340-5930,Female,39,149,no,no,294.45,7.7,33.37,87,3,3.0,2,Subscriber
2,100756,372-3750,Female,65,126,no,no,87.30,11.9,9.89,91,1,4.0,5,Unsubscribed
3,101595,331-4902,Female,24,131,no,yes,321.30,9.5,36.41,102,4,3.0,3,Subscriber
4,101653,351-8398,Female,40,191,no,no,243.00,10.9,27.54,83,7,3.0,1,Subscriber

In [32]:
df.describe(include=object) # string values

        phone_no gender multi_screen mail_subscribed       churn
count       2000   1976         2000            2000        1965
unique      2000      2            2               2           2
top     409-8743   Male           no              no  Subscriber
freq           1   1053         1802            1430        1703

In [34]:
df['phone_no']

0       409-8743
1       340-5930
2       372-3750
3       331-4902
4       351-8398
          ...
1995    385-7387
1996    383-9255
1997    353-2080
1998    359-7788
1999    414-1496
Name: phone_no, Length: 2000, dtype: object

In [35]:
# Give gender wise count of customers
df['gender'].value_counts(dropna=False)

gender
Male      1053
Female     923
NaN         24
Name: count, dtype: int64

In [36]:
df['gender'].mode() # max time appeared

0    Male
Name: gender, dtype: object

In [38]:
df['gender'].value_counts(dropna=False).max()

1053

In [39]:
df['gender'].value_counts(dropna=False).idxmax()

'Male'

In [40]:
df.describe(include=object)

        phone_no gender multi_screen mail_subscribed       churn
count       2000   1976         2000            2000        1965
unique      2000      2            2               2           2
top     409-8743   Male           no              no  Subscriber
freq           1   1053         1802            1430        1703

In [41]:
df['multi_screen'].value_counts(dropna=False)

multi_screen
no     1802
yes     198
Name: count, dtype: int64

In [42]:
df['mail_subscribed'].value_counts(dropna=False)

mail_subscribed
no     1430
yes     570
Name: count, dtype: int64

In [43]:
df['churn'].value_counts(dropna=False)

churn
Subscriber      1703
Unsubscribed     262
NaN               35
Name: count, dtype: int64

In [44]:
df.head()

,customer_id,phone_no,gender,age,no_of_days_subscribed,multi_screen,mail_subscribed,weekly_mins_watched,minimum_daily_mins,maximum_daily_mins,weekly_max_night_mins,videos_watched,maximum_days_inactive,customer_support_calls,churn
0,100198,409-8743,Female,36,62,no,no,148.35,12.2,16.81,82,1,4.0,1,Subscriber
1,100643,340-5930,Female,39,149,no,no,294.45,7.7,33.37,87,3,3.0,2,Subscriber
2,100756,372-3750,Female,65,126,no,no,87.30,11.9,9.89,91,1,4.0,5,Unsubscribed
3,101595,331-4902,Female,24,131,no,yes,321.30,9.5,36.41,102,4,3.0,3,Subscriber
4,101653,351-8398,Female,40,191,no,no,243.00,10.9,27.54,83,7,3.0,1,Subscriber

In [45]:
df.loc[5]

customer_id                     101953
phone_no                      329-6603
gender                             NaN
age                                 31
no_of_days_subscribed               65
multi_screen                        no
mail_subscribed                     no
weekly_mins_watched             193.65
minimum_daily_mins                12.7
maximum_daily_mins               21.95
weekly_max_night_mins              111
videos_watched                       6
maximum_days_inactive              4.0
customer_support_calls               4
churn                     Unsubscribed
Name: 5, dtype: object